# Exclude source, test, and dev files
**/*.map
**/src/**
**/test/**
**/out/test/**
.vscode/**
.git/**
.gitignore
npm-debug.log
README.md
CHANGELOG.md
!p5types/**/*.ts
**/*.ts
**/P5TestProject/**
**/typescript/**
