/* Hide Blockly's own scrollbars by class name */
.blocklyScrollbarVertical.blocklyMainWorkspaceScrollbar,
.blocklyScrollbarHorizontal.blocklyMainWorkspaceScrollbar {
  display: none !important;
}
body {
  margin: 0;
  max-width: 100vw;
}

pre,
code {
  overflow: auto;
}

#pageContainer {
  display: flex;
  width: 100%;
  max-width: 100vw;
  height: 100vh;
}

#blocklyDiv {
  flex-basis: 100%;
  height: 100%;
  min-width: 600px;
  overflow: hidden !important;
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}

/* Hide scrollbars for all descendants (Webkit, Firefox, Edge) */
#blocklyDiv *::-webkit-scrollbar {
  display: none !important;
}

#outputPane {
  display: flex;
  flex-direction: column;
  width: 400px;
  flex: 0 0 400px;
  overflow: auto;
  margin: 1rem;
}

#generatedCode {
  height: 50%;
  background-color: rgb(247, 240, 228);
}

#output {
  height: 50%;
}
